{% extends "base.html" %}

{% set title = "index page ^_^" %}

{% block content %}
    <form>
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" value="{{ name }}" readonly/>
        <label for="url">URL:</label>
        <input id="url" name="url" type="text" value="{{ url }}" readonly/>

        <p>Infobases<span class="badge badge-light">9</span></p>
        {% for cluster in clusters %}
        <ul>
            <li>{{ cluster['name'] }}</li>
            <li>
            <ul>
            {% for infobase in cluster['infobases'] %}
                <li>{{ infobase['name'] }}</li>
            {% endfor %}
            </ul>
            </li>
        </ul>
        {% endfor %}
    </form>
{% endblock %}